@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  @apply bg-gray-50;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}

@import url('../styles/LearnWord.css');

.resize-handle {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #6558d3;
  border-radius: 50%;
  cursor: nw-resize;
}

.resize-handle-top-left {
  top: -5px;
  left: -5px;
}

.resize-handle-top-right {
  top: -5px;
  right: -5px;
}

.resize-handle-bottom-left {
  bottom: -5px;
  left: -5px;
}

.resize-handle-bottom-right {
  bottom: -5px;
  right: -5px;
}
