.draggable-container {
  cursor: move;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  user-select: none;
  touch-action: none;
}

.vocabulary-card {
  border-radius: 16px;
  box-shadow: 0 30px 30px -25px rgba(0, 38, 255, 0.205);
  padding: 10px;
  background-color: #fff;
  color: #697e91;
  max-width: 800px;
  margin: 2rem auto;
  position: relative;
  cursor: move;
}

.vocabulary-content {
  align-items: center;
  padding: 20px;
  padding-top: 40px;
  background-color: #ecf0ff;
  border-radius: 12px;
  position: relative;
}

.vocabulary-header {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #bed6fb;
  border-radius: 99em 0 0 99em;
  display: flex;
  align-items: center;
  padding: 0.625em 0.75em;
  font-size: 1.25rem;
  font-weight: 600;
  color: #425475;
}

.vocabulary-title {
  font-weight: 600;
  font-size: 1.25rem;
  color: #425675;
  margin-bottom: 0.75rem;
}

.vocabulary-description {
  color: #697e91;
  margin-bottom: 1rem;
}

.vocabulary-list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.vocabulary-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.vocabulary-action {
  margin-top: 1.25rem;
}

.words-container {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: 1.5rem 0;
  width: 100%;
}

.word-card {
  background: #f8f9ff;
  padding: 0.8rem 1rem;
  border-radius: 6px;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

.word-text {
  font-size: 1.1rem;
  color: #425275;
  margin-bottom: 0.2rem;
  width: 100%;
}

.word-meaning {
  font-size: 0.9rem;
  color: #697e91;
  width: 100%;
}

.learn-button {
  width: 100%;
  padding: 0.8rem;
  font-size: 1rem;
  background-color: #6558d3;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  transition: all 0.2s;
}

.learn-button:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.learn-button:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.learn-button::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
  background-color: #6558d3;
}

.learn-button:hover::after {
  transform: scaleX(1.1) scaleY(1.2);
  opacity: 0;
}

.learn-button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}