.schedule-content {
  align-items: center;
  padding: 20px;
  padding-top: 40px;
  background-color: #ecf0ff;
  border-radius: 16px;
  box-shadow: 0 30px 30px -25px rgba(0, 38, 255, 0.205);
  position: relative;
  cursor: move;
  user-select: none;
  touch-action: none;
  z-index: 1000;
  max-width: 800px;
  margin: 2rem auto;
  color: #697e91;
}

.schedule-header {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #bed6fb;
  border-radius: 99em 0 0 99em;
  display: flex;
  align-items: center;
  padding: 0.625em 0.75em;
  font-size: 1.25rem;
  font-weight: 600;
  color: #425475;
}

.schedule-container {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: 1.5rem 0;
  width: 100%;
}

.date-card {
  background: #f8f9ff;
  padding: 0.8rem 1rem;
  border-radius: 6px;
  text-align: left;
  width: 100%;
  box-sizing: border-box;
}

.date-text {
  font-size: 1.1rem;
  color: #425275;
  margin-bottom: 0.5rem;
  display: block;
}

.word-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.word-item {
  padding: 0.25rem 0;
  color: #697e91;
}
.schedule-button {
  width: 100%;
  padding: 0.8rem;
  font-size: 1rem;
  background-color: #6558d3;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  transition: all 0.2s;
}

.schedule-button:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.schedule-button:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.schedule-button::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
  background-color: #6558d3;
}

.schedule-button:hover::after {
  transform: scaleX(1.1) scaleY(1.2);
  opacity: 0;
}

.schedule-button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}
